/* Change appearance of all detail divs */
.details {
  font-size: 25px;
  font-family: 'Big Shoulders Stencil Text', cursive;
  background: rgba(255, 255, 255, 0.25);

  position: absolute;
  top: 5%;
  width: 25%;
  margin-left: 5%;
  padding: 1%;
  border-radius: 10px;
}

.details>img{
  max-width: 100%;
  max-height: 100%;
}

.balloons {
  display: inline-flex;
  position: relative;
  background-image: url(../img/buttons/balloons.png);
  background-size:  contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 150px;

  margin: 20px;

  cursor: pointer;
}

.balloons-right {
  float: right;
}

.balloons-left {
  float: left;
}

.balloons-top {
  top: -40%;
}

.balloons-bottom {
  bottom: 10%;
}


.name {
  cursor: pointer;
}

#mammoth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50vw;

  cursor: pointer;

}

 #walrus {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   width: 45vw;

   cursor: pointer;
 }

#zebra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 40vw;

    cursor: pointer;

  }

#otter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50vw;

    cursor: pointer;
  }

#tiger2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    width: 50vw;

    cursor: pointer;

  }

#fish {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    width: 50vw;

    cursor: pointer;
  }

#tiger1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50vw;

  cursor: pointer;
}

#rhino {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  width: 50vw;

  cursor: pointer;
}

#mammothDetails {
  color: #9400D3;
}

#walrusDetails {
  color: #008080;
}
#zebraDetails {
  color: #9ACD32;
}

#otterDetails {
  color: #FA8072;
}

#tiger2Details {
  color: #FF1493;
}

#fishDetails {
  color: #BA55D3;
}

#tiger1Details {
  color: #4B0082;
}
#rhinoDetails {
  color: #00008B;
}
