/* Place Timeline stuff */
.timeline{
  position: absolute;
  height: 1%;
  width: inherit;
  bottom: 15%;
  background: rgb(255, 255, 255);

}

.dates {
  position: absolute;

  left: 45%;
  bottom: 500%;

  border-radius: 50%;

  color: gray;

  text-align: center;
  font-size: auto;

  padding: 1%;
  background: rgb(255, 255, 255);
}

.dates>p{
  margin: 0px;
}

.line-to-date {
  position: absolute;

  left: 45%;
  bottom: -65%;

  height: 75%;
  width: 5px;
  background: rgb(255, 255, 255);
}
