html, body {
  display: inline-flex; /* Creates a flexbox, that starts on same line as previous */
  height: 100%; /*Makes box fill entire window, with no inner or outer padding*/
  width: 200vw;
  margin: 0px;
  padding: 0px;
  /* overflow-y: hidden; /*Hides vertical scrollbar*/
  scroll-behavior: smooth;
  overflow: auto;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */



img {
  height: 20%;
}

.stopHorizonatalScroll {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.details-example {
  position: absolute;
  right: -100vw;
  top: 100px;
  width: 500px;
}

.container {

  overflow: auto;

  height: inherit; /*Makes box fill entire window, with no inner or outer padding*/
  /* width: 1000vw; */
  margin: inherit;
  padding: inherit;
  overflow-y: hidden; /*Hides vertical scrollbar*/
}

.full-width-div {
  width: 100vw; /*Makes box fill entire width*/
}

/* Place Timeline stuff */
.timeline{
  position: absolute;
  height: 1%;
  width: inherit;
  bottom: 5%;
  background: black;

}

.dates {
  position: absolute;

  left: 45%;
  bottom: 500%;

  height: 50px;
  width: 50px;
  border-radius: 50%;

  background: black;
  color: white;

  text-align: center;
}

.line-to-date {
  position: absolute;

  left: 45%;
  bottom: -65%;

  height: 75%;
  width: 5px;
  background: black;
}

/*Pastel Color Gradients*/
.purple-pastel-gradient {
  background-image: linear-gradient(to right, #FFCCF9, #B28DFF);
}

.blue-pastel-gradient {
  background-image: linear-gradient(to right, #B28DFF, #85E3FF);
}

.green-pastel-gradient {
  background-image: linear-gradient(to right, #85E3FF, #AFF8D8);
}

.yellow-pastel-gradient {
  background-image: linear-gradient(to right, #AFF8D8, #FFFFD1);
}

.orange-pastel-gradient {
  background-image: linear-gradient(to right, #FFFFD1, #FFCBC1);
}

.red-pastel-gradient {
  background-image: linear-gradient(to right, #FFCBC1, #FFABAB);
}

.pink-pastel-gradient {
  background-image: linear-gradient(to right,  #FFABAB,  #FFCCF9);
}

/* Credit: https://codepen.io/plavookac/pen/QMwObb */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: fixed;
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 25%
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    background-size: 50% 100px;
}

.waveTop {
  animation: move_wave 12s linear infinite;
  background-size: 50% 100%;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')
}

.waveMiddle {
    animation: move_wave 10s linear infinite;
    background-size: 50% 80%;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')
}

.waveBottom {
    animation: move_wave 15s linear infinite;
    background-size: 50% 60%;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')
}
